<div class="car-card">
    <h4>{{ car.brand }} {{ car.model }} ({{ car.year }})</h4>
    <ul>
      <li><strong>License Plate:</strong> {{ car.license_plate }}</li>
      <li><strong>Chassis Number:</strong> {{ car.chassis_number }}</li>
      <li><strong>Engine Type:</strong> {{ car.engine_type }}</li>
      <li><strong>Engine Capacity:</strong> {{ car.engine_capacity }} cc</li>
      <li><strong>Horsepower:</strong> {{ car.horsepower }} HP</li>
      <li><strong>kW Power:</strong> {{ car.kw_power }} kW</li>
    </ul>
  </div>
  